.containermainindex {
    display: flex;
    flex-direction: column;
    height: 600px;

}

.tableindex {
    flex: 12;
    height: 100px;
    height:300px;
    overflow-y:scroll;
}

.actionsbuttons {
    flex: 1;
    margin:10px;
    justify-self: center;
    text-align:center;
}

.buttontrash {
    margin:5px
}
